.button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all;
  text-transform: capitalize;
  border-radius: 8px;
  padding: 8px 24px;
  font-family: var(--font-regular);
  // height: 35px;
  box-shadow: 0 1px 19px -8px rgba(0, 0, 0, 0.28);

  &.primary {
    background: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);

    &:hover {
      background-color: var(--white);
      color: var(--blue);
    }
  }

  &.transparent {
    background-color: transparent;
    color: #000;
    border: 1px solid var(--blue);

    &:hover {
      color: var(--white);
      background-color: var(--blue);
    }
  }
}
