* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Gilroy Regular';
  font-weight: 400;
  src: url(../public/fonts/Gilroy_Regular.woff2);
}

@font-face {
  font-family: 'Gilroy Medium';
  font-weight: 600;
  src: url(../public/fonts/Gilroy_Medium.woff2);
}

@font-face {
  font-family: 'ICTV Regular';
  font-weight: 400;
  src: url(../public/fonts/ICTV_Regular.woff2);
}

@font-face {
  font-family: 'LTWave Mono';
  font-weight: 100;
  src: url(../public/fonts/LTWave_Mono.woff2);
}

:root {
  --font-regular: 'Gilroy Regular', sans-serif;
  --font-medium: 'Gilroy Medium', sans-serif;
  --font-title: 'ICTV Regular', sans-serif;
  --font-mono: 'LTWave Mono', monospace;

  --container: 1280px;

  --blue: #4853f0;
  --black: #1f1d1c;
  --light-blue: #dbe7ff;
  --sky-blue: #ceeffe;
  --green: #ceeffe;
  --slate-gray: #758099;
  --gray: #eaeefa;
  --white: #fefefe;
  --green: #cfe7cd;
  --light-red: #ffc2cd;
  --pink: #fbd9f9;
}

img {
  height: auto;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.no-scroll {
  overflow: hidden;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  color: var(--black);
  font-family: var(--font-regular);
}

a {
  color: inherit;
  text-decoration: none;
}
